/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --bg-color: #000;
    --font-color: #00CC14;
    --weight-main: 465;
    --weight-title: 765;

    --gradient: #000;
    --gradient-vert1: #007f0c;
    --gradient-vert2: #004306;

    --font-color-button-transform: #00CC14;

    --color-heart-contour: #00CC14;
    --bg-gradient-separator: #000;
    --bg-gradient-beginning: #007f0c;
    --bg-gradient-end: #004306;


}

:root.theme-light {
    --bg-color: #FFF;
    --font-color: #000;
    --weight-main: 400;
    --weight-title: 700;

    --gradient: #d3d3d3;
    --gradient-vert1: #e7e7e7;
    --gradient-vert2: #1a1a1a;

    --font-color-button-transform: #FFF;

    --color-heart-contour: #000;
    --bg-gradient-separator: #d3d3d3;
    --bg-gradient-beginning: #e7e7e7;
    --bg-gradient-end: #1a1a1a;


}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF;
        --font-color: #000;
        --weight-main: 400;
        --weight-title: 700;

        --gradient: #d3d3d3;
        --gradient-vert1: #e7e7e7;
        --gradient-vert2: #1a1a1a;

        --font-color-button-transform: #FFF;

        --color-heart-contour: #000;
        --bg-gradient-separator: #d3d3d3;
        --bg-gradient-beginning: #e7e7e7;
        --bg-gradient-end: #1a1a1a;


    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --font-color: #00CC14;
        --weight-main: 465;
        --weight-title: 765;

        --gradient: #000;
        --gradient-vert1: #007f0c;
        --gradient-vert2: #004306;

        --font-color-button-transform: #00CC14;

        --color-heart-contour: #00CC14;
        --bg-gradient-separator: #000;
        --bg-gradient-beginning: #007f0c;
        --bg-gradient-end: #004306;
    }

}