/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", sans-serif;
    --accent-font: "PressStart2P", sans-serif;
    --weight-main: 400;
    --weight-title: 700;
    --bg-color: #FFF;
    --font-color: #000;

    --gradient: #d3d3d3;
    --gradient-vert1: #e7e7e7;
    --gradient-vert2: #1a1a1a;
    --width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);

    --font-color-button-transform: #FFF;

    --color-heart-contour: #000;
    --color-heart-main-body: #FF0000;
    --bg-gradient-separator: #d3d3d3;
    --bg-gradient-beginning:#e7e7e7;
    --bg-gradient-end:#1a1a1a;

}



